flows1.json
[
    {
        "id": "fe83f532.60e6c8",
        "type": "tab",
        "label": "流程3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "be9e3965.0ef308",
        "type": "rpi-gpio in",
        "z": "fe83f532.60e6c8",
        "name": "",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 70,
        "y": 360,
        "wires": [
            [
                "dcf855d3.97dee8",
                "a39243e0.7153d"
            ]
        ]
    },
    {
        "id": "39e7d939.ca4836",
        "type": "rpi-gpio out",
        "z": "fe83f532.60e6c8",
        "name": "",
        "pin": "11",
        "set": false,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "dcf855d3.97dee8",
        "type": "debug",
        "z": "fe83f532.60e6c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "a39243e0.7153d",
        "type": "switch",
        "z": "fe83f532.60e6c8",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 400,
        "wires": [
            [
                "6b040b9d.2ce9c4"
            ],
            [
                "faa1bf2e.94a51"
            ]
        ]
    },
    {
        "id": "6b040b9d.2ce9c4",
        "type": "change",
        "z": "fe83f532.60e6c8",
        "name": "change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "39e7d939.ca4836"
            ]
        ]
    },
    {
        "id": "faa1bf2e.94a51",
        "type": "change",
        "z": "fe83f532.60e6c8",
        "name": "change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "39e7d939.ca4836"
            ]
        ]
    }
]