flows3.json
[
    {
        "id": "89f16699.2206d8",
        "type": "tab",
        "label": "流程2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "86c141d0.59fed",
        "type": "inject",
        "z": "89f16699.2206d8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "d16a1689.8ff468"
            ]
        ]
    },
    {
        "id": "d16a1689.8ff468",
        "type": "function",
        "z": "89f16699.2206d8",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey:\"ehgRcyMw0Eva6p1K\"\n    };\nmsg.payload=\"Temperature,,12\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "f996df29.59793"
            ]
        ]
    },
    {
        "id": "f996df29.59793",
        "type": "http request",
        "z": "89f16699.2206d8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api.mediatek.com/mcs/v2/devices/DKzb3KQC/datapoints.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 520,
        "y": 240,
        "wires": [
            [
                "9baf255c.43a748",
                "1a95b19f.893dfe"
            ]
        ]
    },
    {
        "id": "9baf255c.43a748",
        "type": "http response",
        "z": "89f16699.2206d8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "1a95b19f.893dfe",
        "type": "debug",
        "z": "89f16699.2206d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 680,
        "y": 340,
        "wires": []
    }
]