flows5.json
[
    {
        "id": "fc269458.9c8f98",
        "type": "tab",
        "label": "流程5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ebf51865.cc8538",
        "type": "http in",
        "z": "fc269458.9c8f98",
        "name": "Set GPIO5",
        "url": "/setgpio5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "cdf74d4c.e023a",
                "d97a620f.80724"
            ]
        ]
    },
    {
        "id": "cdf74d4c.e023a",
        "type": "function",
        "z": "fc269458.9c8f98",
        "name": "Set to 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "75bca1c8.e3eeb"
            ]
        ]
    },
    {
        "id": "75bca1c8.e3eeb",
        "type": "rpi-gpio out",
        "z": "fc269458.9c8f98",
        "name": "",
        "pin": "29",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "d97a620f.80724",
        "type": "function",
        "z": "fc269458.9c8f98",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to HIGH\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 220,
        "wires": [
            [
                "fc712faf.b831b",
                "4cc74887.acb4c8"
            ]
        ]
    },
    {
        "id": "fc712faf.b831b",
        "type": "http response",
        "z": "fc269458.9c8f98",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "4cc74887.acb4c8",
        "type": "debug",
        "z": "fc269458.9c8f98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 480,
        "wires": []
    },
    {
        "id": "1ab1e154.f50a7f",
        "type": "http in",
        "z": "fc269458.9c8f98",
        "name": "Clear GPIO5",
        "url": "/clear5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "51bff682.7caf78",
                "ff28dd9f.67a0d"
            ]
        ]
    },
    {
        "id": "51bff682.7caf78",
        "type": "function",
        "z": "fc269458.9c8f98",
        "name": "Clear to 0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 540,
        "wires": [
            [
                "75bca1c8.e3eeb"
            ]
        ]
    },
    {
        "id": "ff28dd9f.67a0d",
        "type": "function",
        "z": "fc269458.9c8f98",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to LOW\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 640,
        "wires": [
            [
                "fc712faf.b831b",
                "4cc74887.acb4c8"
            ]
        ]
    }
]